body {
    font-family: "Jura", sans-serif;
    color: aqua;
    font-size: 60px;
    font-style: italic;
}

.container {
}
.header-w {
}
.link {
}
.img {
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}