body {
    font-family: "Jura", sans-serif;
    color: aqua;
    font-style: italic;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-w {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link {
}
.img {
}

li {
    margin-left: 20px;
    list-style: none;
    list: none;
}

ul {
    display: flex;
    align-items: center;
}